.skeleton-line {
    height: 14px;
    margin-bottom: 10px;
    border-radius: 6px;

    background: linear-gradient(
        90deg,
        #eee 25%,
        #f5f5f5 37%,
        #eee 6%
    );

    background-size: 400% 100%;
    animation: shimmer 1.4s ease-in-out infinite;
}

@keyframes shimmer {
    0% { background-position: 100% 0; }
    100% { background-position: -100% 0;}
}