.memberMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    margin: auto;
    
}

.member-container {
    padding: 10px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}